{% extends "base.html" %}
{% block title %}
心音注册
{% endblock %}
<!-- 内容主界面 -->
{% block content %}
    <div class="container">
        <form action="" method="post">
            <div class="container">
                <div class="col-sm-4 col-md-4 container-fluid">
                   {% csrf_token %}
                {{ form.as_p}}
                </div>
                <div class="text-center">
                    <input type="submit" value="register" class="btn btn-outline-success">
                </div>
            </div>
        </form>
    </div>
    <div>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
{% endblock %}